parameters:
	ignoreErrors:
		-
			message: '#^Trait Spatie\\Onboard\\Concerns\\GetsOnboarded is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/GetsOnboarded.php
